<div id="herder">
    <div class="herder_one1"></div>
    <div class="herder_one">
        <div style="height: 10px;"></div>
        <div style="height:30px;width: 1000px;margin: 0 auto;">
            <div style="float: left;margin-top:8px;color: #fff;">友情链接：</div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/course-18-9-1.html" style="color:#fff" target="_blank">郑大艺术品投资班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/course-18-14-1.html" style="color:#fff" target="_blank">郑大电商班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/index.php?m=content&c=index&a=show&catid=18&id=11" style="color:#fff" target="_blank">郑大实战地产班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/course-18-13-1.html" style="color:#fff" target="_blank">郑大国学商道班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/index.php?m=content&c=index&a=show&catid=18&id=12" style="color:#fff" target="_blank">郑大互联网金融班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/course-18-10-1.html" style="color:#fff" target="_blank">郑大私募股权班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/course-18-8-1.html" style="color:#fff" target="_blank">郑大经营方略班</a></div>
            <div style="float: left;width:115px;overflow:hidden;height:15px;margin-top:8px;"><a href="/course-18-7-1.html" style="color:#fff" target="_blank">郑大工商管理班</a></div>
        </div>
        <div class="me">
            <div class="onedm">
                <ul>
                    <li><a href="/about-2-1.html">关于我们</a>&nbsp;&nbsp;|</li>
                    <li><a href="/contact-16-1.html">联系我们</a>&nbsp;&nbsp;|</li>
                    <li><a href="/list-8-1.html">常见问题</a>&nbsp;&nbsp;|</li>
                    <li><a href="/index.php?m=content&c=index&a=lists&catid=24">友情链接</a>&nbsp;&nbsp;|</li>
                    <li><a href="/list-21-1.html">网站地图</a></li>
                </ul>
            </div>
            <div style="clear:both"></div>
            <div class="herder_tow">
                <p>联系电话：0371-67767667</p>
            </div>
            <div class="herder_there">
                © 郑州大学版权所有  豫ICP备12034584号  豫公网安备11010102000785号 </br>
            </div>
            <div class="herder_there">
                地址：河南省郑州市大学路75号郑州大学(南校区)教学楼6号楼（国际教育学院）220室 </br>
            </div>
        </div>
    </div>
</div>
<!-- 返回头部 -->
<style type="text/css">
    .scroll {
        width: 60px;
        height: 80px;
        border: 1px solid #ccc;
        color: black;
        text-align: center;
        position: fixed;
        right: 30px;
        bottom: 0px;
        cursor: pointer;
        font-size: 14px;
    }
</style>
<div class="scroll" id="scroll" style="display:none;">
    <div style="width:30px;height:30px;margin:0 auto;margin-top:30px;">
        回到顶部
    </div>
</div>
<!-- 返回头部 -->
<!-- 返回头部js -->
<script type="text/javascript">
    $(function () {
        showScroll();
        function showScroll() {
            $(window).scroll(function () {
                var scrollValue = $(window).scrollTop();
                scrollValue > 300 ? $('div[class=scroll]').fadeIn() : $('div[class=scroll]').fadeOut();
            });
            $('#scroll').click(function () {
                $("html,body").animate({ scrollTop: 0 }, 200);
            });
        }
    })
</script>
<!-- 返回头部js -->