<div id="top">
    <div class="top_one">
        <div class="top_tow">
            <ul>
                <li style="font-family: '微软雅黑'">&nbsp;&nbsp;咨询电话：0371-67767667&nbsp;&nbsp;</li>
                <li style="font-family: '微软雅黑'"><a href="/">网站首页</a>&nbsp;&nbsp;|</li>
            </ul>
        </div>
    </div>
    <div class="top_there">
        <div class="top_there1">
            <img src="/images/top_pic.jpg" alt="郑州大学高层培训中心" />
        </div>
    </div>
    <div class="top_foru">
        <div class="top_five">
            <ul>
                <li style="font-family: '微软雅黑'">
                    <a href="/Home/Index.html" id="top_1" class='color'>网站首页</a>
                </li>
                <li class="all">
                    <a href="/Home/Summary" id="top_2" class='color'>学院简介</a>
                </li>
                <li class="all">
                    <a href="/Home/Enrollment" id="top_18" class='color'>招生简章</a>
                </li>
                <li class="all">
                    <a href="/Home/StudyList" id="top_4" class='color'>开课通知</a>
                </li>
                <li class="all">
                    <a href="/Home/TeacherList" id="top_6" class='color'>名师介绍</a>
                </li>
                <li class="all">
                    <a href="/Home/Training" id="top_20" class='color'>企业内训</a>
                </li>
                <li class="all">
                    <a href="/Home/ProblemList" id="top_8" class='color'>常见问题</a>
                </li>
                <li class="all">
                    <a href="/Home/NewsList" id="top_12" class='color'>新闻动态</a>
                </li>
                <li class="all">
                    <a href="/Home/ContactUs" id="top_16" class='color'>联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>